{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<h2>Consultant Profile</h2>

<form method="POST" class="needs-validation">
    {% csrf_token %}

    <div class="row">
        <div class="col-5">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-5">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.status|as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.github_link|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.linkedin_link|as_crispy_field }}
        </div>
    </div>

    {{ form.bio|as_crispy_field }}
    {{ form.skills|as_crispy_field }}

    <button type="submit" class="btn btn-success" name="button">Submit</button>
</form>

{% endblock %}