{% extends 'base.html' %}
{% block body %}

<h2>Dashboard</h2>
<div class="row" >
    <div class="col-sm-4">
        <img class="card-img-top" src="https://images.emojiterra.com/twitter/v12/512px/1f418.png" alt="Card image" style="width:80%">
    </div>
    <div class="col-sm-4">

        {% if type == "consultant" %}

        <! Consultant --->
        <h4 class="card-title">{{ name }}</h4>
        <h5 class="text-secondary">Consultant</h5>
        <br>
        <p class="email">Email: {{ email }}</p>
        <p class="status">Status: {{ status }}</p>
        <p class="LinkedIn">{{ linkedin }}</p>
        <p class="github">{{ github }}</p>
        <p class="card-text">{{ bio }}</p>

        {% else %}

        <! Client --->
        <h4 class="card-title">{{ name }}</h4>
        <h5 class="text-secondary">Client</h5>
        <br>
        <p class="email">Email: {{ email }}</p>
        <p class="website">Website: {{ website }}</p>
        <p class="card-text">{{ bio }}</p>

        {% endif %}

    </div>
    <div class="col-sm-4">
        <div class="container">
            {% if type == "consultant" %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"> </th>
                  <th scope="col">Repositories</th>
                </tr>
              </thead>
              <tbody>

                {% for repo in repos %}

                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ repo }}</td>
                </tr>

                {% endfor %}

              </tbody>
            </table>
            {% endif %}
        </div>

    </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contracts</h5>
        <p class="card-text">Explore latest contracts here</p>
        <a href="/contracts" class="btn btn-primary">View Contracts</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Profile</h5>
        <p class="card-text">Make changes to your profile.</p>
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Learn More</h5>
        <p class="card-text">Learn how the application worls</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}