{% extends 'base.html' %}
{% block body %}

<div class="container" align="left">
  <h2>Profile</h2>
  <div class="row" >
      <div class="col-sm-4">
          <img class="card-img-top" src="https://images.emojiterra.com/twitter/v12/512px/1f418.png" alt="Card image" style="width:80%">
      </div>
      <div class="col-sm-4">
          <h4 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h4>
          <h5 class="email">{{ profile.email }}</h5>
          <p class="status">Status: {{ profile.status }}</p>
          <p>{{ profile.linkedin_link }}</p>
          <p>{{ profile.github_link }}</p>
      </div>
      <div class="col-sm-4">
          <div class="container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"> </th>
                    <th scope="col">Repositories</th>
                  </tr>
                </thead>
                <tbody>
                  {% for repo in repos %}

                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ repo }}</td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
          </div>

      </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bio</h5>
              <p class="card-text">{{ profile.bio }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Skills</h5>
              <ul>
                {% for skill in skills %}
                <li>{{ skill }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}