{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<form method="POST" class="needs-validation">
    {% csrf_token %}

    <div class="row justify-content-center">
        <div class="card shadow-sm">
            <div class="card-body">
                <img class="mb-4" style="display: block; margin-left: auto; margin-right: auto;" width="72" height="72"
                     src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/225/snake_1f40d.png">
                <h5 class="card-title text-center"><a href="/signin" style="color: #6c757d;">Sign In</a> / Sign Up</h5>

                {{ form.email|as_crispy_field }}
                {{ form.username|as_crispy_field }}
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
                {{ form.account_type|as_crispy_field }}

                <button type="submit" class="btn btn-success" name="button">Sign Up</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}