{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<form method="POST" class="needs-validation">
    {% csrf_token %}

    <div class="row justify-content-center mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <img class="mb-4" style="display: block; margin-left: auto; margin-right: auto;" width="72" height="72"
                     src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/whatsapp/238/office-building_1f3e2.png">

                <h5 class="card-title text-center">Sign In / <a href="/signup" style="color: #6c757d;">Sign Up</a></h5>

                {{ form.username|as_crispy_field }}
                {{ form.password|as_crispy_field }}

                <button type="submit" class="btn btn-success" name="button">Sign In</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}