{% extends 'base.html' %}
{% block body %}

<! Header Area ->
<div class="row d-flex justify-content-end">
    <div class="mr-auto p-2">
        <h2> Contracts </h2>
    </div>

    {% if ref == 1 %}
        <div class="p-2">
            <a href="{% url 'create_contract' %}" class="btn btn-primary">Create</a>
        </div>
    {% endif %}

</div>


<div class="row" >

    {% if msg == 0 %}

    {% for contract in contracts %}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ contract.title }}</h5>
                <p style="margin-bottom: 3px;" class="card-text">Pay: {{ contract.salary }}</p>
                <p style="margin-bottom: 17px;" class="card-text">Top skills</p>
                <a href="{% url 'view_contract' contract.pk %}" class="btn btn-primary">More details</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}

    <h5 class="lead">{{ msg }}</h5>

    {% endif %}

</div>

<br>

<h4>All Contracts</h4>

<div class="row">
    <div class="col-sm-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Client</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Field</th>
                </tr>
            </thead>

            <tbody>
                {% for contract in all_contracts %}
                <tr>
                    <td><a href="{% url 'view_contract' contract.pk %}">{{ contract.title }}</a></td>
                    <td>{{ contract.client.company_name }}</td>
                    <td>{{ contract.salary }}</td>
                    <td>{{ contract.jobTags }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}