{% extends 'base.html' %}
{% block body %}

<div class="container">
    <h2> Contracts </h2>
    <div class="row" >


        {% for contract in contracts %}
        <div class="col-sm-3"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ contract.title }}</h5>
                    <p style="margin-bottom: 3px;" class="card-text">Pay: {{ contract.salary }}</p>
                    <p style="margin-bottom: 17px;" class="card-text">Top skills</p>
                    <a href="#" class="btn btn-primary">More details</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}